@font-face {
  font-family: 'HankenGrotesk';
  src: url(assets/HankenGrotesk.ttf);
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url(assets/RobotoCondensed.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'HankenGrotesk';
}

#black-hole-background {
  position: fixed;
  right: 0;
  bottom: -150px;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  color: white;
}

.intro {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 8rem;
  }

  p {
    font-size: 2rem;
  }

  img {
    position: absolute;
    width: 60px;
    bottom: 105vh;
  }
}

.facts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.facts > div {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;

  h1 {
    font-family: 'RobotoCondensed';
    font-size: 4.5rem;
  }

  p {
    font-size: 1.7rem;
  }
}

.up,
.down {
  height: 200px;
  display: flex;
  margin: 20px;
  cursor: pointer;
}

.up > img,
.down > img {
  width: 80px;
  fill: white;
}

.fact {
  width: 40vw;
}

.eight > ul {
  margin: 0 30px;
}

.eight > ul > li {
  font-size: 1.8rem;
}

.go-down {
  animation: hover 2500ms linear infinite;
}

@keyframes hover {
  0% {
    bottom: 105vh;
  }
  50% {
    bottom: 107vh;
  }
  100% {
    bottom: 105vh;
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  50% {
    left: -50px;
    opacity: 0.5;
  }
  100% {
    left: -100px;
    opacity: 1;
  }
}
